@using RomanWrites.Models
@using RomanWrites.Services
@using Microsoft.AspNetCore.Identity
@model Post
@inject UserManager<BlogUser> userManager
@inject IImageService imageService

@{ ViewData["Title"] = "Details"; }

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)

            </div>
        </div>
    </div>
</article>

<hr />

<article>
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col text-center fw-bold h3">Tags</div>
        </div>
        <div class="row">
            <div class="col text-center">
                @foreach ( var tag in Model.Tags )
                {
                    <a class="btn btn-primary rounded-pill btn-sm" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="col-md-10 col-lg-8 col-xl-7">
        @if ( User.Identity.IsAuthenticated )
        {
            <form asp-action="Create" asp-controller="Comments" method="post">
                @Html.Hidden("PostId", Model.Id)

                <div class="form-group">
                    <label class="control-label h2 font-weight-bold">Add Comment</label>
                    <textarea name="body" class="form-control rounded" rows="3"></textarea>
                </div>

                <button class="btn btn-sm btn-primary rounded-pill" type="submit">Add Comment</button>
            </form>
        }
        else
        {
            <a class="btn btn-primary btn-sm rounded" asp-area="Identity" asp-page="/Account/Login">Login to add comments</a>
        }


    </div>

    <hr />

    <div class="col-md-10 col-lg-8 col-xl-7">
        <span class="btn btn-sm btn-primary rounded-pill">@Model.Comments.Count Comment(s)</span>

        @foreach ( var comment in Model.Comments )
        {

            <div class="card my-3 rounded-3">
                <div class="row g-0  align-items-center">
                    <div class="col-md-2">
                        <img class="img-fluid rounded-circle" src="@imageService.DecodeImage(comment.Author.ImageData, comment.Author.ContentType)" />
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title mb-0 lh-1">@comment.Author.FullName</h5>
                            <small class="text-muted fs-6"> Posted on @comment.Created</small>
                            <div class="card-text">@comment.Body</div>

                            @if ( comment.Moderated is null && comment.Deleted is null && comment.AuthorId == userManager.GetUserId(User) )
                            {
                                <hr />
                                <button data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-warning rounded-pill btn-sm float-end mb-2">Edit</button>
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="editModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editing comment...</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="Edit" asp-controller="Comments">
                                @Html.Hidden("Id", comment.Id)

                                <div class="form-group">
                                    <textarea class="form-control" name="Body" required>@comment.Body</textarea>
                                </div>

                                <button class="btn btn-sm btn-primary rounded-pill mt-2" type="submit">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-danger rounded-pill" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

</article>





